<h1> New Post Page: </h1>

  <%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br><br>

    <%= f.label :content %>
    <%= f.text_area :content %><br><br>

    <%= f.submit "Create" %>
  <% end %>
